body {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #000000;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}

.custom-cursor, * {
  cursor: url('res/daggercursor.png'), auto;
}



canvas {
  display: block;
}